<main class="flex-1 p-4">
  <div
    class="bg-white rounded-lg shadow-md p-6 mb-6"
    [ngClass]="{ 'opacity-10 bg-dark': showModal }"
  >
    <div class="flex flex-col md:flex-row justify-between items-start mb-6">
      <div>
        <div class="flex items-center mb-2">
          <a
            [routerLink]="['/period']"
            class="text-gray-500 hover:text-gray-700 mr-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 19l-7-7m0 0l7-7m-7 7h18"
              />
            </svg>
          </a>
          <h2 class="text-2xl font-bold">Bourses {{ period?.year }}</h2>
        </div>
        <p class="text-gray-600 mb-4">
          Programme de bourses d'études {{ period?.year }}
        </p>
      </div>
      <div class="mt-4 md:mt-0 flex space-x-2">
        @if (canDispatch() && validateDispatchPeriodStatus == period?.status) {
          <button (click)="validateDispatch()"
                  class="bg-primary hover:bg-orange-600 cursor-pointer text-white font-bold py-2 px-4 rounded-lg flex items-center transition duration-300"
          >
            Valider dispatch
          </button>
        }

        @if (period?.status === PeriodStatus.STATUS_SELECTION) {
          <button (click)="closeStatus()"
                  class="bg-primary hover:bg-orange-600 cursor-pointer text-white font-bold py-2 px-4 rounded-lg flex items-center transition duration-300"
          >
            Cloturer la periode
          </button>
        }


        <div class="relative">
          <button id="dropdownDefaultButton" (click)="toggleDropdown()"
                  class="text-white bg-primary hover:bg-primary focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-primary dark:hover:bg-primary dark:focus:ring-orange-700"
                  type="button">
            Autres Options
            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 4 4 4-4"/>
            </svg>
          </button>

          <div *ngIf="isDropdownVisible"
               class="absolute left-0 mt-2 z-20 w-56 bg-white dark:bg-gray-700 rounded-lg shadow-lg border border-gray-100 dark:border-gray-600">
            <div
              class="absolute -top-2 left-6 w-4 h-4 bg-white dark:bg-gray-700 rotate-45 border-l border-t border-gray-100 dark:border-gray-600">
            </div>
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
              <li *ngIf="period?.status == dispatchStatus()"
                  class="border-b border-t border-gray-200 dark:border-gray-600">
                <button (click)="openModalAttach(period?.id)"
                        class="w-full text-left flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white transition rounded">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-primary" fill="none"
                       viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                  </svg>
                  Attacher critères présélections
                </button>
              </li>
              <li
                *ngIf="period?.status == dispatchStatus() || period?.status == preselectionStatus()"
                class="border-b border-t border-gray-200 dark:border-gray-600">
                <button (click)="openModalAttachSelection(period?.id)"
                        class="w-full text-left flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white transition rounded">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-primary" fill="none"
                       viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                  </svg>
                  Attacher critères sélections
                </button>
              </li>
              <li *ngIf="period?.status == dispatchStatus()" class="border-b border-gray-200 dark:border-gray-600">
                <button (click)="importFileCandidacies(period?.id, period?.year)"
                        class="w-full text-left flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white transition rounded">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-primary" fill="none"
                       viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 16v2a2 2 0 002 2h12a2 2 0 002-2v-2M16 10l-4-4m0 0l-4 4m4-4v12"/>
                  </svg>
                  Importer Candidats
                </button>
              </li>
              <li *ngIf="period?.status == dispatchStatus()" class="border-b border-gray-200 dark:border-gray-600">
                <button (click)="importDocumentsCandidacies()"
                        class="w-full text-left flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white transition rounded">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-primary" fill="none"
                       viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 16v2a2 2 0 002 2h12a2 2 0 002-2v-2M16 10l-4-4m0 0l-4 4m4-4v12"/>
                  </svg>
                  Importer Documents
                </button>
              </li>
            </ul>
          </div>
        </div>
        <p
          class="bg-green-300 hover:bg-green-200 text-white font-bold py-2 px-4 rounded-lg flex items-center transition duration-300">
          Status : {{ period?.status == PeriodStatus.STATUS_CLOSE ? 'CLOTURER' : period?.status }}
        </p>
      </div>
    </div>

    <div class="bg-gray-50 p-4 rounded-lg mb-3">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <div class="flex flex-col items-start">
          <div class="flex items-center mb-1">
            <svg class="h-5 w-5 text-blue-500 mr-1" fill="none" stroke="currentColor" stroke-width="2"
                 viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
            </svg>
            <h3 class="text-sm font-medium text-gray-500">Évaluateurs</h3>
          </div>
          <p class="font-semibold">{{ period?.evaluators_count }}</p>
        </div>
        <div class="flex flex-col items-start">
          <div class="flex items-center mb-1">
            <svg class="h-5 w-5 text-yellow-500 mr-1" fill="none" stroke="currentColor" stroke-width="2"
                 viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 14l9-5-9-5-9 5 9 5zm0 0v6"/>
            </svg>
            <h3 class="text-sm font-medium text-gray-500">Critères</h3>
          </div>
          <p class="font-semibold">{{ period?.criteria_count }}</p>
        </div>
        <div class="flex flex-col items-start">
          <div class="flex items-center mb-1">
            <svg class="h-5 w-5 text-green-500 mr-1" fill="none" stroke="currentColor" stroke-width="2"
                 viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
            </svg>
            <h3 class="text-sm font-medium text-gray-500">Candidatures</h3>
          </div>
          <p class="font-semibold">{{ period?.candidats_count }}</p>
        </div>
        <div class="flex flex-col items-start">
          <div class="flex items-center mb-1">
            <svg class="h-5 w-5 text-purple-500 mr-1" fill="none" stroke="currentColor" stroke-width="2"
                 viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9 17v-2a4 4 0 018 0v2M12 12a4 4 0 100-8 4 4 0 000 8z"/>
            </svg>
            <h3 class="text-sm font-medium text-gray-500">Pré sélectionnés</h3>
          </div>
          <p class="font-semibold">{{ period?.preselection_count }}</p>
        </div>
      </div>
    </div>

    <!-- Tabs -->
    <mat-tab-group class="mb-6 border-b" [(selectedIndex)]="tabIndex" (selectedIndexChange)="onTabChange($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <span [ngClass]="{
              'text-primary border-b-2 border-primary':
                selectedTab === 'criteria',
              'text-gray-500 hover:text-gray-700': selectedTab !== 'criteria'
            }" class="py-2 px-4 font-medium inline-block">
            Critères
          </span>
        </ng-template>
        <app-criteria></app-criteria>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span [ngClass]="{
              'text-primary border-b-2 border-primary':
                selectedTab === 'candidacy',
              'text-gray-500 hover:text-gray-700': selectedTab !== 'candidacy'
            }" class="py-2 px-4 font-medium inline-block">
            Candidats
          </span>
        </ng-template>
        <app-period-candidacy [period]="period"></app-period-candidacy>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span [ngClass]="{
              'text-primary border-b-2 border-primary':
                selectedTab === 'candidacy-rejected',
              'text-gray-500 hover:text-gray-700': selectedTab !== 'candidacy-rejected'
            }" class="py-2 px-4 font-medium inline-block">
            Candidats Rejetés
          </span>
        </ng-template>
        <app-period-candidacy-rejected [period]="period"></app-period-candidacy-rejected>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span [ngClass]="{
              'text-primary border-b-2 border-primary':
                selectedTab === 'evaluateur',
              'text-gray-500 hover:text-gray-700': selectedTab !== 'evaluateur'
            }" class="py-2 px-4 font-medium inline-block">
            Évaluateurs
          </span>
        </ng-template>
        <app-period-evaluateur [period]="period"
                               [candidatesCount]="period?.candidats_count ? period?.candidats_count : 0"
                               (canValidateDispatch)="canValidateDispatch($event.valueOf())"></app-period-evaluateur>
      </mat-tab>

    </mat-tab-group>
  </div>
</main>
